<footer class="section footer-classic context-dark bg-image" style="background: #294c54;">
    <div class="container" style="padding:20px;">
        <div class="row row-30">
            <div class="col-md-4 col-xl-5">
                <div class="pr-xl-4">
                    <a class="brand"><img class="brand-logo-light" src="assets/images/logo/logo.png" alt="easyElection" width="140" height="37" srcset="images/agency/logo-retina-inverse-280x74.png 2x"></a>
                    <p>We are an award-winning creative young team, dedicated to the best result in solving real problem, promotion, business consulting, and marketing.</p>
                    <!-- Rights-->
                    <p class="rights"><span>©  </span><span class="copyright-year">2019</span><span> </span><span>Waves</span><span>. </span><span>All Rights Reserved.</span></p>
                </div>
            </div>
            <div class="col-md-4">
                <h5>Contacts</h5>
                <dl class="contact-list">
                    <dt>Address:</dt>
                    <dd>17/1 Tallabag, Dhanmondi, Dhaka</dd>
                </dl>
                <dl class="contact-list">
                    <dt>email:</dt>
                    <dd><a href="mailto:#">zellurakib1234@gmail.com</a></dd>
                </dl>
                <dl class="contact-list">
                    <dt>phones:</dt>
                    <dd><a href="tel:#">+88 01684275296</a>
                    </dd>
                </dl>
            </div>
            <div class="col-md-4 col-xl-3">
                <ul class="nav-list">
                    <li><a href="#">Home</a></li>
                    <li><a href="#how_it_works">How It Works</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contacts</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>