<div class="row">
    <div class="col-md-4 img-class">
      <div class="row">
        <img class="profile-image" [src]="currentUser.imageUrl" alt="user" height='200' width='200'>
      </div>
      <div class="row" style="margin-left: 20px;">
        <label class="btn btn-default profile-image">
          <input type="file" accept="image/*" (change)="selectFile($event)">
        </label>
        <button class="btn btn-sm btn-info" [disabled]="!selectedFiles" (click)="upload()" style="float: left;">Upload Image</button>
      </div>
    </div>

<!--  profile detail section-->
    <div class="col-md-8 user-detail">
        <div class="row">
            <div class="col-md-4">
                First Name:
            </div>
            <div class="col-md-8">
                {{ currentUser.firstName }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Last Name:
            </div>
            <div class="col-md-8">
                {{currentUser.lastName}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Gender:
            </div>
            <div class="col-md-8">
                {{currentUser.gender}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Email:
            </div>
            <div class="col-md-8">
                {{currentUser.email}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Mobile:
            </div>
            <div class="col-md-8">
                {{currentUser.mobile}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Address:
            </div>
            <div class="col-md-8">
                {{currentUser.address}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                City:
            </div>
            <div class="col-md-8">
                {{currentUser.city}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Country:
            </div>
            <div class="col-md-8">
                {{currentUser.country}}
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-6" style="padding: 20px;">
        <div class="card">
            <div class="row">
                <div class="card-header">
                    <h4 style="margin-bottom: 0;">Your Election Activity</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6" style="padding: 20px;">
        <div class="card">
            <div class="row">
                <div class="card-header">
                    <h4 style="margin-bottom: 0;">Your Topic Activity</h4>
                </div>
            </div>
        </div>
    </div>
</div>
